/* Created by (Charles Hall) on (02/23/2026) */

/* Set the height of the body and html to 100% */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Display HTML5 structural elements as blocks */
footer,
header,
section,
nav {
  display: block;
}

/* Center the whole page like the example */
#wrapper {
  width: 900px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 15px;
  background-color: white;
}

/* Header banner like the example */
header {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(30, 144, 255));
}

header h1 {
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px rgb(30, 144, 255);
  font-family: Garamond, serif;
  margin: 0;
}

/* Style for the nav element */
nav {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}

nav ul {
  background-color: rgb(175, 175, 175);
  line-height: 2em;
  list-style-type: none;
  padding-left: 0px;
  text-indent: 5px;
  border-radius: 5px;
  margin: 0;
}

nav ul li:hover {
  background-color: rgb(148, 51, 62);
  border-radius: 5px;
}

nav ul li a {
  color: rgb(255, 255, 0);
  font-weight: bold;
  text-decoration: none;
  display: block;
}

/* Keep section to the right of the nav */
section {
  float: left;
  width: 660px;
}

/* Style for the h2 inside the section */
section h2 {
  font-family: Copperplate, "Copperplate Gothic", serif;
  max-width: 870px;
}

/* Style for the image caption */
section figcaption {
  text-align: center;
  max-width: 870px;
  font-family: Monaco, Consolas, monospace;
  margin-bottom: 10px;
}

/* Style for the home page image */
section img#home_page_img {
  width: 560px;
  height: 400px;
  display: block;
  margin: 10px auto;
}

/* General image styles (border/frame look) */
.img_border {
  padding: 5px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 20px;
}

/* Footer like the example */
footer {
  clear: both;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  background-color: lightgray;
}
/* Styles for the products table */
section table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 80%;
	
}
section table td, th {
	border: 1px solid rgb(175,175,175,);
}
section table tr:nth-child(even) {
	background-color: rgb(240,248,255);
}
section table col.price {
	background-color: rgb(255,255,224);
}
section table tr:hover {
	background-color: rgb(176,224,230);
}







